How to import pandas and check the version?

In [1]:
import pandas as pd
print(pd.__version__)

1.0.5

How to create a series from a numpy array?

In [2]:
import numpy as np  
data = np.array(['a', 'b', 'c', 'd', 'e']) 
s = pd.Series(data) 
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

How to convert the index of a series into a column of a dataframe?

In [6]:

df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
  
    
df

  Roll Number     Name  Marks In Percentage Grade  Subject
0     20CSE29   Amelia                   97     A  Physics
1     20CSE49      Sam                   90     A  Physics
2     20CSE36     Dean                   70     C  Physics
3     20CSE44  Jessica                   82     B  Physics